{% extends "base.html" %}

{% block body %}
<div id="main">
<div class="title">
<h1 id="data-title">Engineer Intern</h1></div>
<div class="data-article" id="data-content">
<p>BUYER (Part Time) An immediate vacancy exists for an experienced part time buyer to work 5 hours per day. Tuesday to Fridays each week. The position is permanent and on a staff basis. Applicant must be very compentent using Sage Line **** software. An engineering background would be advantageous. Salary is **** per annum for 20 hours per week. Send your CV via Email. Click APPLY NOW for contact details. </p></div>
</div>
{% endblock %}
