{% extends "base.html" %}

{% block body %}
<div id="main">
  <h1 id="data-title"> Jobs in Accounting Finance </h1>
  <div class="data-article" id="data-content">
    <p>
      Role The purpose of the role is to provide advice via the telephone on leads that have been supplied by the Company Telesales
        Department. In addition you will provide a face to face review service to the existing client bank. Person Specification
        Previous Financial Advising experience to include Pensions and Mortgages Proven sales experience Be fully diploma qualified
        with the capacity to get to Chartered Status Computer literate Have good all round technical knowledge Good working
        knowledge of compliance requirements Key Responsibilities Provide a holistic financial planning advice service to new and
        existing clients. You will be responsible for conducting initial meetings with prospective clients both face to face and
        via the telephone You will need to gather information about clients financial circumstances, goals and objectives to enable
        appropriate advice to be given Maintain client relationships and be customer focused. Be proactive and enthusiastic in your
        approach.
        </p>
  </div>
</div>
{% endblock %}